@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page relative">
    
    <!-- blue blob-->
    <div class="bg-[#9ad0f5] absolute top-[-4rem] right-[2rem] h-[50vh] w-[35rem] rounded-full blur-[15rem] 
        sm:w-[60rem] -z-10 dark:bg-[#4b74a5] 2xl:right-[15rem] 2xl:top-[-6rem] 2xl:blur-[20rem]"></div>

    <!-- orange blob -->
    <div class="bg-[#fcd9a0] absolute top-[-4rem] left-[-15rem] h-[50vh] w-[40rem] rounded-full blur-[15rem] 
        sm:w-[65rem] -z-10 dark:bg-[#a75816] 2xl:left-[5rem] 2xl:blur-[16rem]"></div>

    @if(navVisible)
    {
        <div class="custom-navbar @(showNav ? "show-navbar" : "hide-navbar")">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton class="nav-button rz-border-radius-1" Text="About Me" Style="" />
                <RadzenButton class="nav-button rz-border-radius-1" Text="Work" Style="" />
                <RadzenButton class="nav-button rz-border-radius-1" Text="Education"/>
                <RadzenButton class="nav-button rz-border-radius-1" Text="Projects"/>
            </RadzenStack>
        </div>
    }
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    private bool showNav = false;
    private bool navVisible = false;
    private bool isAnimating = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
            await JSRuntime.InvokeVoidAsync("initScrollWatcher", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public async Task SetNavBarVisibility(bool show)
    {
        if (isAnimating || show == showNav) return;

        isAnimating = true;

        if (show)
        {
            navVisible = true;
            showNav = true;
            StateHasChanged();
            await Task.Delay(1600); // navbar show animation duration
        }
        else
        {
            showNav = false;
            StateHasChanged();
            await Task.Delay(600); // navbar hide animation duration
            navVisible = false;
            StateHasChanged();
        }

        isAnimating = false;
    }

}