@namespace Portfolio.Components
@using Portfolio.Components.Models


@* Partially grabbed from https://prismic.io/blog/css-animation-examples#1-simple-text-animation *@
<div class="pc-card">
    <RadzenBadge class="pc-badge" Text="@DateLabel" />

    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
        <span class="pc-icon" aria-hidden="true"> 
            @Icon
        </span>
        <RadzenText Text="@Title" TextStyle="TextStyle.H4" />
    </RadzenStack>

    <RadzenMarkdown Text="@Description" Style="font-size: 14px; line-height: 1.7; color: var(--text-color, #A1A1AA); text-align: left;" />

    
    <SkillScroller Skills="@Skills"/>

    <div class="pc-shine" aria-hidden="true"></div>

    <div class="pc-background" aria-hidden="true">
      <div class="pc-tiles">
        <div class="pc-tile pc-tile-1"></div>
        <div class="pc-tile pc-tile-2"></div>
        <div class="pc-tile pc-tile-3"></div>
        <div class="pc-tile pc-tile-4"></div>

        <div class="pc-tile pc-tile-5"></div>
        <div class="pc-tile pc-tile-6"></div>
        <div class="pc-tile pc-tile-7"></div>
        <div class="pc-tile pc-tile-8"></div>

        <div class="pc-tile pc-tile-9"></div>
        <div class="pc-tile pc-tile-10"></div>
      </div>

      <div class="pc-line pc-line-1"></div>
      <div class="pc-line pc-line-2"></div>
      <div class="pc-line pc-line-3"></div>
    </div>
</div>


@code{
    [Parameter]
    public List<Skill> Skills {get;set;}

    [Parameter]
    public string Title {get; set;} 

    [Parameter]
    public string Description {get;set;}

    [Parameter]
    public string Link {get;set;}

    [Parameter]
    public RenderFragment Icon {get;set;}

    [Parameter]
    public string DateLabel {get; set;} = "MAY 2025";
}