@namespace Portfolio.Components
@using Portfolio.Components

<div class="timeline-scroll">

    <RadzenTimeline Orientation="Orientation.Horizontal" LinePosition="LinePosition.Bottom" 
        Style="display: flex; flex-wrap:nowrap;"
    >
        <Items>
            <!--Software Developer-->
            <RadzenTimelineItem PointVariant="Variant.Outlined" PointStyle="PointStyle.Info" PointShadow="0" PointSize="PointSize.Large" Style="flex:0 0 auto; min-width:50vh; max-width: 50%; margin-right:2rem;">
                    <PointContent ><RadzenImage Path="imgs/nm_logo.png" Style="width: 80%; height: auto;"/></PointContent>
                    <ChildContent>
                       <WorkCard 
                            Bullets="@sdMarkdown" 
                            Position="Software Developer" 
                            Company="Northwestern Medicine"
                            StartDate="MAY 2025"
                            EndDate="AUG 2025"
                        />
                    </ChildContent>

            </RadzenTimelineItem>

            <!--Research-->
            <RadzenTimelineItem PointVariant="Variant.Outlined" PointStyle="PointStyle.Info" PointSize="PointSize.Large" Style="flex:0 0 auto; min-width:50%; margin-right:2rem;">
                <PointContent>
                    <RadzenImage class="rz-border-radius-8" Path="imgs/wheaton_logo.png"/>
                </PointContent>
                <ChildContent>
                    <WorkCard 
                        Bullets="@rsMarkdown" 
                        Position="Research Assistant" 
                        Company="Wheaton College"
                        StartDate="JAN 2025"
                        EndDate="MAY 2025"
                    />
                </ChildContent>
            </RadzenTimelineItem>

            <!--Automation-->
            <RadzenTimelineItem PointVariant="Variant.Outlined" PointStyle="PointStyle.Info" PointSize="PointSize.Large" Style="flex:0 0 auto; min-width:50%; margin-right:2rem;">
                <PointContent ><RadzenImage Path="imgs/nm_logo.png" Style="width: 80%; height: auto;"/></PointContent>
                <ChildContent>
                    <WorkCard 
                        Bullets="@atMarkdown" 
                        Position="Automation Developer Intern" 
                        Company="Northwestern Medicine"
                        StartDate="MAY 2024"
                        EndDate="AUG 2024"
                    />
                </ChildContent>
            </RadzenTimelineItem>

            <!--IT-->
            @* <RadzenTimelineItem PointVariant="Variant.Outlined" PointStyle="PointStyle.Info" PointSize="PointSize.Large" Style="flex:0 0 auto; min-width:50%; margin-right:2rem;">
                <PointContent> <RadzenImage class="rz-border-radius-8" Path="imgs/huf_logo.jpeg" /> </PointContent>
                <ChildContent>
                    <WorkCard 
                        Bullets="@itMarkdown" 
                        Position="IT Intern" 
                        Company="STERIS/Hu-Friedy"
                        StartDate="MAY 2023"
                        EndDate="AUG 2023"
                    />
                </ChildContent>
            </RadzenTimelineItem> *@
        </Items>
    </RadzenTimeline>
</div>
