@page "/"
@using Portfolio.UIComponents;

<section id="hero" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Style="width: 80%;">
        <RadzenText
            class="rz-pt-12"
            Text="Hi, I'm Sam!"
            TextStyle="TextStyle.H1"
            TextAlign="TextAlign.Center"
            Style="!important; color: white;" />
        <RadzenText
            TextStyle="TextStyle.H2"
            Text="I'm a Full Stack Developer studying Computer Science!"
            TextAlign="TextAlign.Center"
            Style="color: white; width: 80%"/>
    </RadzenStack>
</section>

<section id="not-hero">
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam no hero!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm not in Hero!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
</section>  