@page "/"
@using Portfolio.UIComponents;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<RadzenButton ButtonStyle="ButtonStyle.Danger"> Testing Button </RadzenButton>
<RadzenColorPicker/>

<GradientText
    AnimationSpeed="5"
    ShowBorder="true"
    ClassName="my-custom-gradient-text">
    Add a splash of color!
</GradientText>
