@page "/"
@using Portfolio.UIComponents;
@using Portfolio.Components;

<section id="hero" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Style="width: 80%;">
        <RadzenText
            class="gradient-text-rev rz-pt-12"
            Text="Hi, I'm Sam!"
            TextStyle="TextStyle.H1"
            TextAlign="TextAlign.Center"
            Style="!important; color: white;" />
        <RadzenText
            class="gradient-text"
            TextStyle="TextStyle.H2"
            Text="I'm a Full Stack Developer studying Computer Science!"
            TextAlign="TextAlign.Center"
            Style="width: 80%"/>
    </RadzenStack>
</section>

<section id="about-me" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
        <RadzenText
            class="gradient-text rz-pt-10"
            TextStyle="TextStyle.H1"
            Text="About Me"
            TextAlign="TextAlign.Center" 
        />
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Style="width: 100%;">
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <RadzenImage Path="about_me.png" Style="width: 15rem; height: auto;"/>
                <RadzenText TextStyle="TextStyle.H4" Style="width: 60%">
                    Hi, my name is Samuel McIlrath and I am a May 2026 grad majoring in CS with a minor in Mathematics. 
                    I have experience with front and back end development, IaC, automation, and systems programming.
                </RadzenText>
            </RadzenStack>

            <!-- Skills section -->
            <RadzenStack Orientation="Orientation.Vertical" Style="width: 100%;">
                <RadzenText TextStyle="TextStyle.H2" Text="Skills"/>
                <RadzenCard class="rz-border-radius-4" Variant="Variant.Outlined" Style="width: 100%; min-width: 15rem;">
                    <!-- Skill Groupings -->
                    <RadzenStack Orientation="Orientation.Vertical">
                        <!--Languages -->
                        <RadzenStack Orientation="Orientation.Vertical">
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                                <span class="line"></span>
                                <RadzenText TextStyle="TextStyle.H6" Text="Languages" Style="color: white;"/>
                                <span class="line"></span>
                            </RadzenStack>    
                            <!--Language Cards-->
                            <RadzenStack Orientation="Orientation.Horizontal"Style="flex-wrap: wrap !important;">
                                @foreach(var pair in languages)
                                {   
                                    <SkillCard Skill="@pair.Key" ImagePath="@languages[pair.Key]"/>
                                }
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
            </RadzenStack>

        </RadzenStack>
    </RadzenStack>

</section> 