@page "/"
@using Portfolio.UIComponents;

<section id="hero" style="100vh;">
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />    
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />    
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Still in Hero" TextAlign="TextAlign.Center" />
</section>
<section id="not-hero">

    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
    <RadzenText class="rz-pt-10" TextStyle="TextStyle.H1" Text="Hi, I'm Sam!" TextAlign="TextAlign.Center" />
</section>